body {
  margin: 0;
  scroll-behavior: smooth;
  background-color: rgba(23, 23, 23, 0.941);
  font-family: "Acme", sans-serif;
}
#content {
  color: white;
  display: inline-flex;
  padding: 24px;
  flex-wrap: wrap;
  justify-content: center;
}
.d-FlexCenter {
  display: flex;
  justify-content: center;
}
header {
  background-color: #1d1d1e;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border-bottom: 2px solid #80808063;
  position: sticky;
  top: 0px;
  z-index: 2;
}
.d-Flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.d-FlexSpace {
  display: flex;
  align-items: center;
  width: inherit;
  justify-content: flex-end;
  margin-right: 50px;
  font-size: 25px;
  color: #ffffff85;
}
.logo-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 150px;
}
.logo-font {
  color: white;
}
.logo {
  height: 50px;
  width: 50px;
}
.buttons {
  width: 20px;
  padding: 5px;
  border: 2px solid white;
  border-radius: 100%;
}
.input-field {
  position: relative;
  border: solid 1px;
  border-radius: 10px;
  width: 215px;
  padding: 7px;
  box-sizing: border-box;
}
.poke-card {
  border-top-left-radius: 15px;
  border-top-right-radius: 40px;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 40px;
  height: 240px;
  width: 300px;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(img/poke.png);
  margin: 10px;
  cursor: pointer;
  transform: scale(1);
  transition: all 75ms ease-in-out;
  background-color: rgb(255, 0, 106);
}
.card-name {
  text-align: center;
  color: white;
  transform: none !important;
  font-size: 25px;
  margin-bottom: 8px;
  margin-top: unset;
}
.card-content {
  display: flex;
  width: 250px;
  justify-content: space-around;
  transform: none !important;
  margin-bottom: 12px;
}
.pokemon-img {
  height: 130px;
  width: 130px;
  object-fit: cover;
  border-radius: 100%;
  transform: none !important;
}
.background-color {
  background-color: rgb(36, 36, 36);
  padding: 10px;
  border-radius: 100%;
}
.types {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: none !important;
}
.type-card {
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  border-radius: 10px;
  transform: none !important;
  background-color: rgba(222, 222, 222, 0.316);
}
.type-move {
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: fit-content;
  border-radius: 10px;
  transform: none !important;
  background-color: rgba(26, 26, 26, 0.18);
}
/* BG COLORS FOR POKEMON CARDS */

.bg-grass {
  background-color: rgb(130,188,147);
}

.bg-fire {
  background-color: rgb(220,76,59);
}

.bg-water {
  background-color: rgb(114, 176, 226);
}

.bg-bug {
  background-color: rgb(137,201,120);
}

.bg-normal {
  background-color: rgb(231, 229, 207);
}

.bg-poison {
  background-color: rgb(149, 93, 192);
}

.bg-electric {
  background-color: #FFCF4A;
}

.bg-ground {
  background-color: rgb(163,128,81);
}

.bg-fairy {
  background-color: rgb(238, 153, 172);
}

.bg-fighting {
  background-color: rgb(192, 48, 40) ;
}

.bg-psychic {
  background-color: rgb(248, 88, 136);
}

.bg-rock {
  background-color:rgb(127,122,126);
}

.bg-ghost {
  background-color: rgb(112, 88, 152) ;
}

.bg-ice {
  background-color: rgb(159, 208, 208) ;
}

.bg-dragon {
  background-color: rgb(112, 56, 248) ;
}
.bg-fighting{
  background-color: rgb(91, 43, 48);
}
.bg-ghost{
  background-color: rgb(226, 226, 226);
}