body {
  margin: 0;
  scroll-behavior: smooth;
  background-color: rgba(23, 23, 23, 0.941);
  font-family: "Acme", sans-serif;
}
.lightColor{
  color: #1d1d1e!important ;
}

#content {
  color: white;
  display: inline-flex;
  padding: 24px;
  flex-wrap: wrap;
  justify-content: center;
  z-index: 1;
}
.d-FlexCenter {
  display: flex;
  justify-content: center;
}
header {
  background-color: #1d1d1e;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border-bottom: 2px solid #80808063;
  position: sticky;
  top: 0px;
  z-index: 3;
}
.canvas{
  height: 500px;
  width: 500px;
}
.d-Flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.d-Flex20{
  display: flex;
  gap: 4px;
  margin-top: 10px;
}
.d-FlexSpace {
  display: flex;
  align-items: center;
  width: inherit;
  justify-content: flex-end;
  margin-right: 50px;
  font-size: 25px;
  color: #ffffff85;
}
.logo-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 150px;
}
.logo-font {
  color: white;
}
.logo {
  height: 50px;
  width: 50px;
}
.light-mode{
  color: #1d1d1e;
}
.button1 {
  width: 20px;
  padding: 5px;
  border: 2px solid white;
  border-radius: 100%;
  cursor: pointer;
}
.button2 {
  width: 20px;
  padding: 5px;
  border: 2px solid rgba(246, 224, 61, 0.177);
  border-radius: 100%;
  cursor: pointer;
 
}
.canvas{
  margin-top: 20px;
  height: 160px !important;
  width:300px !important;
}
.border-color{
  border-color: rgb(209, 196, 16);
  filter: invert(100);
}
.input-field {
  position: relative;
  border: solid 1px;
  border-radius: 10px;
  width: 215px;
  padding: 7px;
  box-sizing: border-box;
}
.poke-card {
  border-top-left-radius: 15px;
  border-top-right-radius: 40px;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 40px;
  height: 240px;
  width: 300px;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(img/poke.png);
  margin: 10px;
  cursor: pointer;
  transform: scale(1);
  transition: all 75ms ease-in-out;
  background-color: rgb(255, 0, 106);
}
.card-name {
  text-align: center;
  color: white;
  transform: none !important;
  font-size: 25px;
  margin-bottom: 8px;
  margin-top: unset;
}
.card-content {
  display: flex;
  width: 250px;
  justify-content: space-around;
  transform: none !important;
  margin-bottom: 12px;
}
.pokemon-img {
  height: 130px;
  width: 130px;
  object-fit: cover;
  border-radius: 100%;
  transform: none !important;
}
.pokemon-imgCard{
  height: 170px;
  width: 170px;
  object-fit: cover;
  border-radius: 100%;
  transform: none !important;
}

.background-colorC {
  background-color: rgb(29, 29, 29);
  padding: 40px;
  border-radius: 100%;
  border: 3px solid;
  
}
.background-color {
  background-color: rgb(29, 29, 29);
  padding: 10px;
  border-radius: 100%;
}
.types {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: none !important;
}
.typeO {
  display: flex;
  justify-content: space-between;
  width: 60%;
  color: whitesmoke;
  margin-bottom: 30px;
  margin-left: 25px;
}
.typeU {
  display: flex;
  justify-content: space-between;
  width: 85%;
  color: whitesmoke;
  margin-bottom: 30px;
}
.type-card {
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  border-radius: 10px;
  transform: none !important;
  background-color: rgba(222, 222, 222, 0.316);
}
.type-cardP {
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  border-radius: 10px;
  transform: none !important;
  background-color: rgba(222, 222, 222, 0.316);
  margin-bottom: unset;
}
.type-moveP {
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: fit-content;
  border-radius: 10px;
  transform: none !important;
  background-color: rgba(26, 26, 26, 0.18);
  margin-bottom: unset;
}
.type-move {
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: fit-content;
  border-radius: 10px;
  transform: none !important;
  background-color: rgba(26, 26, 26, 0.18);
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  z-index: 2;
  background-color: #030303b4;
}
.pokedex-card {
  background-color: aliceblue;
  height: 600px;
  width: 500px;
  border-top-left-radius: 15px;
  border-top-right-radius: 40px;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url(img/poke.png);
  border: 3px solid rgba(0, 0, 0, 0.523);
}
.arrowPng {
  height: 50px;
  width: 50px;
  object-fit: cover;
}
.d-FlexWidth {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin-bottom: 30px;
}
.pokeData{
  background-color: rgb(23, 23, 23);
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 40px;
  width: 100%;
  height: 50%;
  border-top: 2px solid rgba(0, 0, 0, 0.084);
  
}
.posAbs{
  position: fixed;
  left:43.5%;
  top: 31%;
}
.arrowPng:hover{
  opacity: 0.5;
  cursor: pointer;
}
.options{
  display: flex;
  justify-content: space-between;
  width: 80%;
  color: white;
  margin-left: 40px;
  margin-top: unset;
  text-decoration: 3px underline rgba(221, 220, 220, 0.46);
  padding-bottom: 3px;
  cursor: pointer;
}
.abilites{
  margin-left: 38px;
  color: white;
}
.abil-head{
  font-size: 20px;
  text-decoration: 3px underline rgba(107, 107, 107, 0.793);
}
.d-none{
  display: none;
}
.whiteBackground{
  background-color: whitesmoke;
}

